section img.inline-img {
	height: 1em;
	border: 0;
	background: none;
	margin: 0;
	display: inline-block;
}

.special {
	position: absolute;
	top: 0;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	left: 0;
	right: 0;
}
.invalid {
	color: #ec3333 !important;
}
.valid {
	color: #2fb925 !important;
}
code span.highlight {
	background: #656565;
	width: 100%;
	display: inline-block;
}
.lang-rust {
	background: #3f3f3f;
}
code {
	display: block;
	padding: 5px;
	overflow: auto;
	max-height: 400px;
	word-wrap: normal;
}
code.special {
	white-space: pre;
	padding: 5px;
	background-color: #3f3f3f;
	display: block;
	/* Taking padding into account... */
	width: calc(90% - 10px);
	margin: 0 auto;
	text-align: left;
	font-size: 0.55em;
	font-family: monospace;
	line-height: 1.2em;
	word-wrap: break-word;
	box-shadow: 0px 0px 6px rgb(0 0 0 / 30%);
}
li > * {
	display: inline;
}